.nav {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.link {
    padding: 5px;
    color: azure;
    background-color: #d39a7455;
    border-radius: 5px;
}



.link:hover, .link:focus {
    background-color: #d39a74;
}